body {
	background-color: white;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	flex-wrap: wrap;
}

.page-main {
	flex-grow: 1;
}

h1 {
	font-family: quicksand, sans-serif;
	font-size: 32px;
	font-weight: 500;
	text-align: center;
	margin: 0px auto;
	display: block;
	padding: 20px;
}

/* <!-- I used class notes for reference on much of my modal scaffolding and styling
https://git.generalassemb.ly/SEIR-1115/modals-intro --> */

#modal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}

h2 {
	text-align: center;
	margin: 0px auto;
	display: block;
	padding-top: 10px;
}

#modal-textbox {
	font-family: 'epilogue', sans-serif;
	font-weight: 300;
	background-color: #fff1e6;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	padding: 2%;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	line-height: 120%;
}

.modal-p {
	padding: 8px;
}

#modal-footer {
	text-align: right;
}

.modal-buttons {
	padding: 14px 18px;
	background-color: #fde2e4;
	border-radius: 3px;
	color: black;
	font-family: 'Arial';
	cursor: grab;
}

#openModal {
	position: absolute;
	top: 10px;
	left: 10px;
}

#village-square {
	border: blue solid 2px;
	margin: 10px;
	display: flex;
	width: 98%;
	align-items: flex-start;
	flex-flow: row wrap;
}

.villagerTop {
	border: yellow solid 2px;
	background-position: center;
	flex-grow: 1;
	flex-basis: 17%;
	width: 100px;
	height: 100px;
	justify-content: space-between;
	flex-direction: row;
}
.villagerBottom {
	border: orange solid 2px;
	background-position: center;
	flex-grow: 1;
	flex-basis: 17%;
	height: 100px;
	width: 100px;
	justify-content: space-between;
	flex-direction: row;
}

#hidden-word {
	border: green solid 2px;
	margin: 10px;
	display: flex;
	width: 98%;
	height: 190px;
	align-items: flex-start;
	flex-flow: row wrap;
}

#trash {
	border: red solid 2px;
	display: flex;
	width: 98%;
	height: 180px;
	margin: 10px;
}

#reset-button {
	position: fixed;
	bottom: 10px;
	right: 10px;
	padding: 14px 18px;
	margin: 10px;
	background-color: #fde2e4;
	border-radius: 3px;
	color: black;
	font-family: 'Arial';
	cursor: grab;
}
