body {
	font-family: 'epilogue', sans-serif;
	overflow: scroll;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	flex-wrap: wrap;
}

.page-main {
	flex-grow: 1;
}

h1 {
	font-family: quicksand, sans-serif;
	font-size: 32px;
	font-weight: 500;
	text-align: center;
	margin: 0px auto;
	display: block;
	padding: 20px;
}

/* <!-- I used class notes for reference on much of my modal scaffolding and styling
https://git.generalassemb.ly/SEIR-1115/modals-intro --> */

#modal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}

h2 {
	text-align: center;
	margin: 0px auto;
	display: block;
	padding-top: 10px;
}

#modal-textbox {
	font-family: 'epilogue', sans-serif;
	font-weight: 300;
	background-color: #f8f7f8;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	padding: 2%;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	line-height: 120%;
}

.modal-p {
	padding: 7px;
}

#modal-footer {
	text-align: right;
}

.modal-buttons {
	padding: 10px 15px;

	background-color: #cdecfa;
	border-radius: 3px;
	color: black;
	font-family: 'Arial';
	cursor: grab;
}

#openModal {
	position: absolute;
	top: 10px;
	left: 10px;
}

#hint {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}

#hint-textbox {
	font-family: 'epilogue', sans-serif;
	font-weight: 300;
	background-color: #f8f7f8;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	padding: 2%;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	line-height: 120%;
}

.hint-p {
	padding: 7px;
}

#hint-footer {
	text-align: right;
}

.hint-buttons {
	padding: 10px 15px;
	margin-top: 250px;
	background-color: #cdecfa;
	border-radius: 3px;
	color: black;
	font-family: 'Arial';
	cursor: grab;
}

#openhint {
	position: absolute;
	top: 10px;
	left: 10px;
}

#village-square {
	padding: 10px;
	margin: 10px;
	display: flex;
	width: 98%;
	align-items: flex-start;
	flex-flow: row wrap;
}

.villagers {
	background-repeat: no-repeat;
	background-position: center;
	flex-grow: 1;
	flex-basis: 17%;
	height: 200px;
	width: 200px;
	justify-content: space-between;
	flex-direction: row;
}

#inputBoxDiv {
	padding-top: 20px;
}

label {
	width: 200px;

	clear: left;
	text-align: right;
	padding: 10px;
}

label,
input {
	float: left;
	font-size: 20px;
	height: 20px;
	padding-top: 5px;
	text-transform: lowercase;
}

#hiddenWord {
	border: dashed black 2px;
	margin: 10px;
	display: flex;
	width: 95%;
	height: 150px;
	align-items: flex-start;
	flex-flow: row wrap;
	padding-top: 50px;
	font-size: 50px;
	justify-content: center;
}

#trash {
	border: dashed black 2px;
	display: flex;
	width: 95%;
	height: 150px;
	margin: 10px;
	padding-top: 30px;
	font-size: 40px;
	justify-content: center;
}

#resetBtn {
	position: static;
	padding: 10px 15px;
	margin: 10px;
	background-color: #cdecfa;
	border-radius: 3px;
	color: black;
	font-family: 'Arial';
	cursor: grab;
}
